.card {
  background: var(--white);
  height: 367px;
  flex-basis: calc(33.33% - 20px);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  display: grid;
  grid-template-rows: 1fr 85px;
}

.card__caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}
