.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.accordion__item {
  display: block;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--grey-3);
  background: var(--white);
  border-radius: 8px;
  transition: height 200ms ease-in-out;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
}

.accordion__icon {
  display: inline-block;
  position: absolute;
  right: 32px;
  top: 32px;
}

.accordion__item[open] .accordion__icon {
  transform: rotate(180deg);
}

.accordion__title {
  display: block;
  cursor: pointer;
  padding: 24px 32px;
}

.accordion__item[open] .accordion__title {
  padding-bottom: 16px;
}

.accordion[open] .accordion__title {
  padding-bottom: 16px;
}

.accordion[open] .accordion__title {
  padding-bottom: 16px;
}

.accordion__title::-webkit-details-marker {
  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}

.accordion__content {
  margin: 0;
  padding: 0 32px 32px 32px;
  color: var(--grey-4);
