.histogram {
  padding: 16px 24px 24px;
  background: var(--white);
  max-width: 354px;
  width: 100%;
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 50px;
}

.histogram__summary {
  position: relative;
  margin-bottom: 39px;
}

.histogram__title {
  margin: 0;
  color: var(--black);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}

.histogram__count {
  margin: 0;
  margin-top: 6px;
  color: var(--black);
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.histogram__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--blue-3);
  margin-top: 3px;
}

.histogram__link:visited {
  color: var(--blue-3);
}

.histogram__diagram {
  margin: 0;
  padding: 0;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  align-items: flex-end;
  gap: 1px;
}

.histogram__bar {
  list-style-type: none;
  background: var(--blue-3);
  display: inline-block;
  transition: opacity 200ms ease-in-out;
}

.histogram__bar:hover {
    opacity: 0.7;
}
