@import '../fonts/fonts.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --black-2: #334d6e;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-2: #5028c6;
  --purple-3: #eceffd;
  --blue: #374fc7;
  --blue-2: #2342c0;
  --blue-3: #4263eb;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #90a0b7;
  --grey-6: #f9fafc;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  --grey-gradient: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
}

* {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
  width: 100%;
}

html,
body {
  height: 100%;
}

.container {
    
}
