@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-2: #334d6e;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028c6;
    --purple-3: #ECEFFD;
    --blue: #374FC7;
    --blue-2: #2342c0;
    --blue-3: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90A0B7;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Inter', sans-serif;
}
