@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-2: #334d6e;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028c6;
    --purple-3: #ECEFFD;
    --blue: #374FC7;
    --blue-2: #2342c0;
    --blue-3: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90A0B7;
    --grey-6: #f9fafc;
    --grey-7: #c4c4c4;
    --error: var(--red);
    --success: var(--blue);
    --primary: var(--blue);
    --secondary: var(--purple);
    --grey-gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

* {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
  width: 100%;
}

html, body {
    height: 100%;
}
  
html,
body {
  height: 100%;
}
