.tooltip {
}

.tooltip:hover > .tooltip__content {
  visibility: visible;
}

.tooltip__content {
  visibility: collapse;
  position: absolute;
  transform: translate(-50%, -24px);
  padding: 13px 21px;
  background: var(--blue-3);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 10px;
  left: 50%;
  bottom: 50%;
}

.tooltip__content::after {
  content: '';
  display: inline-block;
  position: absolute;
  border: 7px solid transparent;
  border-top: 7px solid var(--blue-3);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}

.tooltip__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
}
