.footer {
  background: var(--white);
  height: 384px;
  display: grid;
  place-content: center;
  color: var(--black);
}

.footer__box {
  max-width: 640px;
}

.footer__title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
}

.footer__description {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
