.preview {
  background: var(--grey-5);
  flex-grow: 1;
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
  padding: 68px 0;
}

.preview__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
